body {
    transition: all 0.3s ease;
    overflow: scroll;
}

.todo.sedang {
    color: #524ed2;
    text-decoration: underline;
}

.todo.sudah {
    color: lightgreen;
    opacity: 40%;
}
.todo > nav > ul > li > .hapus {
    background-color: #c52f21;
    border: 1px solid #c52f21;
}

.todo.sudah > nav > ul > li > .steps {
    background-color: #7385a9;
    border: 1px solid #7385a9;
}

body > main > h1 {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

body > main > footer {
    text-align: center;
}

.todo > nav > ul > li > button > svg {
    vertical-align: text-top;
}
